# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf

# Denote all files that are truly binary and should not be modified.
unica/flashable-zip/updater binary
unica/packages/fod/system/** binary
unica/packages/knox/none/system/** binary
unica/packages/knox/sdp/system/** binary
unica/packages/vndk/30/** binary
target/a52sxq/patches/wpss/vendor/firmware/** binary
target/a73xq/patches/wpss/vendor/firmware/** binary
target/m52xq/patches/vendor/vendor/** binary
*.apk binary
*.apex binary
*.so binary
*.jar binary
*.pk8 binary
*.ogg binary
*.ico binary
*.jpg binary
*.png binary
*.webp binary
