[submodule "external/android-tools"]
	path = external/android-tools
	url = https://github.com/nmeum/android-tools.git
	ignore = dirty
[submodule "external/apktool"]
	path = external/apktool
	url = https://github.com/iBotPeaches/Apktool.git
	ignore = dirty
[submodule "external/erofs-utils"]
	path = external/erofs-utils
	url = https://github.com/sekaiacg/erofs-utils.git
	ignore = dirty
[submodule "external/img2sdat"]
	path = external/img2sdat
	url = https://github.com/BlackMesa123/img2sdat.git
	ignore = dirty
[submodule "external/samfirm.js"]
	path = external/samfirm.js
	url = https://github.com/DavidArsene/samfirm.js.git
	ignore = dirty
