# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf

# Denote all files that are truly binary and should not be modified.

# Common file extensions
*.apk binary
*.apex binary
*.bin binary
*.so binary
*.jar binary
*.pk8 binary
*.ogg binary
*.ico binary
*.jpg binary
*.png binary
*.qmg binary
*.webp binary

# ROM-specific prebuilt blobs
unica/flashable-zip/updater binary
unica/mods/eureka/qssi/system/** binary
unica/mods/eureka/essi/system/** binary
unica/mods/pif/system/bin/rezetprop binary
unica/mods/wallpaper/e1q/** binary
unica/patches/deknox/qssi/system/** binary
unica/patches/deknox/essi/system/** binary
unica/patches/product_feature/fingerprint/optical_fod/system/** binary
unica/patches/product_feature/resolution/qssi/system/** binary
unica/patches/product_feature/resolution/essi/system/** binary
unica/patches/vndk/30/** binary

# Device-specific prebuilt blobs
target/a52sxq/patches/wpss/vendor/firmware/** binary
target/a71/patches/*/*/** binary
target/a73xq/patches/wpss/vendor/firmware/** binary
target/m52xq/patches/vendor/vendor/** binary
target/r8q/patches/mainline-fix/** binary
target/r8q/patches/vendor/*/** binary
