[submodule "external/android-tools"]
	path = external/android-tools
	url = https://github.com/nmeum/android-tools.git
[submodule "external/erofs-utils"]
	path = external/erofs-utils
	url = https://github.com/sekaiacg/erofs-utils.git
[submodule "external/smali"]
	path = external/smali
	url = https://github.com/google/smali.git
