# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf

# Denote all files that are truly binary and should not be modified.
unica/flashable-zip/updater binary
unica/mods/mods/system/bin/rezetprop binary
unica/patches/deknox/system/** binary
unica/patches/fod/system/** binary
unica/patches/vndk/30/** binary
target/a52sxq/patches/wpss/vendor/firmware/** binary
target/a71/patches/*/*/** binary
target/a73xq/patches/wpss/vendor/firmware/** binary
target/m52xq/patches/vendor/vendor/** binary
*.apk binary
*.apex binary
*.bin binary
*.so binary
*.jar binary
*.pk8 binary
*.ogg binary
*.ico binary
*.jpg binary
*.png binary
*.webp binary
